#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}



@import "tailwindcss";

@theme {
  --animate-hourglass: hourglass 45s linear;

  @keyframes hourglass{
    0%{
      width: 100%
    }
    100%{
      width: 0%
    }
  }
}