#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@import "tailwindcss";

@theme {
  --animate-hourglass: hourglass 45s linear;
  --animate-pulsate: pulsate 2s linear infinite;
  --animate-flash: flash 3s linear infinite;

  @keyframes hourglass{
    0%{
      width: 100%
    }
    100%{
      width: 0%
    }
  }

  @keyframes pulsate{
    0%{
      left: 0vw;
    }
    100%{
      left: 100vw
    }
  }

  @keyframes flash{
    0%, 100%{
      filter: blur(6px)
    }
    50%{
      filter: blur(12px)
    }
  }
}